[Desktop Entry]
Version=1.0.1+6
Name=Lorem Ipsum Generator
GenericName=Lorem Ipsum Generator
Comment=Lorem Ipsum Generator
Terminal=false
Type=Application
Categories=Utility;
Keywords=Lorem, Ipsum, Lorem Ipsum, Generator;
Icon=app.rayadams.loremgenerator
Exec=loremgenerator
StartupWMClass=app.rayadams.loremgenerator
